altgraph==0.17.4
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
idna==3.10
npm==0.1.1
numpy==2.2.3
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
optional-django==0.1.0
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
psutil==7.0.0
PyAudio==0.2.14
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pyperclip==1.9.0
pywin32==308
pywin32-ctypes==0.2.3
qrcode==8.0
requests==2.32.3
thread==2.0.5
ttkbootstrap==1.10.1
typing_extensions==4.13.0
urllib3==2.3.0
